*{
    margin: 0;
    padding: 0;

}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?sy59v8');
    src:  url('../fonts/icomoon.eot?sy59v8#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?sy59v8') format('truetype'),
      url('../fonts/icomoon.woff?sy59v8') format('woff'),
      url('../fonts/icomoon.svg?sy59v8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
/* Variables */
:root{
    --brown:#543b2b;
}

/* Fin de variable */

body{
    background: black;
    height: 100%;
    font-size: 17px;
    font-family: 'Segoe UI', 'roboto', arial, sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: var(--brown);
}

/* ---------------------Inicio header */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0em;
    
}
    header .iam-image{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 1em;
    }
        header .iam-image img{
            width: 15%;
        }
/* -----------------inicio del navbar */
    header .menu{
        width: 90%;
        height: 2em;
        border-bottom: 1px solid var(--brown);
        border-radius: 20px;
    }
        header.menu-container{
            display: flex;
            align-items: center;
            height: inherit;
        }
            header .menu-list{
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
                header .menu-list li{
                    list-style: none;
                }
                    header .menu-list li a{
                        color: var(--brown);
                    }
/* --------------------fin del navbar */
/* --------------------fin del header */

/* -----------------inicio del main */
main{
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: contain; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "moda moda" "gastronomia gastronomia" "video video";
}
    section{
        height: 30em;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
    }
            h3{
                font-size: 30px;
                color: #463123;
                font-family: 'Times New Roman', Times, serif;
            }
            p{
                color:#463123;
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
                margin: 1em 0;
            }
        .moda{
            background-color: white;
            background-image: url(../images/fondo-moda.png);
            background-repeat: no-repeat;
            background-size: 100vw;
            background-position: right;
            grid-area: moda;
        }
            .moda .parrafo-container{
                background: rgba(255,255,255, .45);
                height: 100%;
                width: 40vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 5vw;
            }
            .gastronomia{
                background: white;
                background-image: url(../images/fondo-gastro.png);
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size:contain;
                background-position: left;
                grid-area: gastronomia;
            }
        .gastronomia .parrafo-container{
            background: rgba(255,255,255, .45);
            height: 100%;
            width: 40%;
            padding: 0 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            left: 50%;
        }
        .video{
            background-image: url(../images/video.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            background-position: right;
            grid-area: video;
        }
            .video .parrafo-container{
                background: rgba(255,255,255, .45);
                height: 100%;
                width: 40vw;
                padding: 0 5vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                }
        /* --------------------fin del main */
        
        
/* --------------------Inicio footer */
footer{
    padding: 1em 0em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* bottom: 0; */
}
    footer .menu{
        width: 90%;
        height: 2em;
        border-top: 1px solid var(--brown);
        border-radius: 20px;
    }
        footer .menu-container{
            align-items: center;
            height: inherit;
        }
            footer .menu-list{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 2em;
                width: 100%;
                align-items: center;
            }
                footer .menu-list li{
                    list-style: none;
                }
                    footer .menu-list li a{
                        color: var(--brown);
                    }
                    footer .rrss{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 1em;
                    }
                    footer .rrss a{
                        text-decoration: none;
                        font-weight: normal;
                        margin: 2vw;
                        font-size: 2.5vw;
                    }
                    .left{
                        padding-left: 2.5vw;
                    }
                    .right{
                        justify-self: end;
                        padding-right: 2.5vw;
                    }
/* --------------------fin del footer */

@media screen and (max-width:768px){
    footer .rrss a{
        font-size: 3vw;
    }
    .left{
        /* padding-left: 1.3em; */
    }
    .right{
        /* justify-self: end; */
        /* padding-right: 1.3em; */
    }
}
@media screen and (max-width:400px){
    .burger-button{
        display: block;
    }
    header .menu{
        height: 55%;
        position: fixed;
        background:  rgba(255,255,255, .45);
        z-index: 3;
        top: 0px;
        left: -100vw;
        width: 40vw;
        bottom: 0px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active{
        left: 0px;
    }
    header{
        display: block;
        height: auto;
    }
    header .menu-list{
        display: initial;
    }
    header .menu-list li{
        height: 50px;
    }
    header .menu-list li a{
        justify-content: center;
        height: 40px;
        font-size: 1em;
        text-decoration: underline;
        margin-bottom: 45px;
    }



    header .iam-image img{
        width: 30%;
    }
    h3{
        font-size: 8vw;
    }
    p{
        margin: 1em;
        font-size: 5vw;
    }
    .moda{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-size:cover;
        background-position: center;
    }
    .moda .parrafo-container{
        align-items: center;
        justify-content: center;
        padding: 0 2vw;
        border-radius: 10%;
        height: 50%;
        width: 80vw;
        }
        .gastronomia{
            background-size:cover;
            background-position: center;
        }
    .gastronomia .parrafo-container{
        height: 100%;
        width: fit-content;
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;
    }
    .video{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-size:cover;
        background-position: center;
    }
        .video .parrafo-container{
            border-radius: 10%;
            height: 50%;
            width: 80vw;
            padding: 0 2vw;
            justify-content: center;
            align-items: center;
            }
            
            footer .menu-list{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1fr);
            }
footer .menu-list li{
    display: flex;
    justify-content: center;
    padding: 0;
}
footer .rrss{
            padding:0;
        }
        footer .rrss a{
            margin: 3vw;
            font-size: 5vw;
        }
        .right{
            justify-self: center;
        }

    }